force-app/main/default/flows/WelcomeLogin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>WelcomeLogin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WelcomeLogin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>198</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>user</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>448</locationX>
        <locationY>39</locationY>
        <inputReference>user</inputReference>
    </recordUpdates>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>340</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>user.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetUser</startElementReference>
    <status>Active</status>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
